Jupyter Notebookì—ì„œ pysparkì„ ì‚¬ìš©í•˜ë ¤ë©´ ë³„ë„ì˜ í™˜ê²½ë³€ìˆ˜ ì„¸íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤.

ì´ ê³¼ì •ì´ ê·€ì°®ì•„ì„œ ì €ëŠ” [findspark](https://github.com/minrk/findspark) ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. findsparkì€ spark_home pathë¥¼ ìë™ìœ¼ë¡œ ì°¾ì•„ì¤ë‹ˆë‹¤.

In [1]:
import findspark
findspark.init()

from pyspark import SparkContext
import random

### Spark Context

SparkContext = ìŠ¤íŒŒí¬ì— ì ‘ì†í•˜ì

In [2]:
sc = SparkContext()

Pythonì˜ list ëŠë‚Œ...?

In [16]:
nums = sc.parallelize([6,7,0,5])

take(num): numë²ˆì§¸ ê¹Œì§€ì˜ elementë¥¼ ê°€ì ¸ì˜¨ë‹¤

In [68]:
nums.take(1)

[6]

In [69]:
nums.take(4)

[6, 7, 0, 5]

mapì„ ì´ìš©í•´ì„œ lambda expressionì„ ì ìš©í•  ìˆ˜ ìˆë‹¤.

In [27]:
squared = nums.map(lambda x: x*x).collect()
squared

[36, 49, 0, 25]

ë§Œì•½ Python listë¼ë©´ lambda ì—†ì´ list comprehensionì„ ì´ìš©í•˜ë©´ ëœë‹¤.

In [49]:
ls = [6, 7, 0, 5]
[l*l for l in ls]

[36, 49, 0, 25]

DataFrameì„ ë§Œë“¤ì–´ë³´ì

In [50]:
from pyspark.sql import Row
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

> ğŸ¤” ê°’ì„ ì…ë ¥í•˜ë ¤ë©´ ë°˜ë“œì‹œ Tubleì„ ì‚¬ìš©í•´ì•¼ í•˜ëŠ”ê°€ ?

In [72]:
list_p = [
    ('John',19),
    ('Jam',28),
    ('Smith',29),
    ('Adam',35),
    ('Henry',50)
]
rdd = sc.parallelize(list_p)
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
DF_ppl = sqlContext.createDataFrame(ppl)

In [73]:
DF_ppl.take(1)

[Row(age=19, name='John')]

In [74]:
DF_ppl.take(5)

[Row(age=19, name='John'),
 Row(age=28, name='Jam'),
 Row(age=29, name='Smith'),
 Row(age=35, name='Adam'),
 Row(age=50, name='Henry')]

### Basic operation with PySpark

csvíŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ ê¸°ë³¸ì ì¸ ë¶„ì„ ê³¼ì •ì„ ë°Ÿì•„ë³´ì

In [75]:
from pyspark import SparkFiles
url = "https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv"
sc.addFile(url)
sqlContext = SQLContext(sc)

In [85]:
sc

In [86]:
df = sqlContext.read.csv(
    SparkFiles.get("adult_data.csv"), 
    header=True, 
    inferSchema=True
)

DataFrameì˜ ìŠ¤í‚¤ë§ˆ ì„¤ëª…ì„ ë³´ì—¬ì¤€ë‹¤.

In [101]:
df.printSchema()

root
 |-- x: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

ìš”ì•½ í†µê³„ë¥¼ ë³´ì—¬ì£¼ê¸´ í•˜ëŠ”ë°,, ë³´ê¸°ê°€ í‰í•˜ë‹¤. ë…¸íŠ¸ë¶ì´ë¼ì„œ ê·¸ëŸ´ê¹Œ ? 

ì•„ë˜ì˜ í†µê³„ëŸ‰ì„ ë³´ì—¬ì¤€ë‹¤.
- count
- mean
- standarddeviation
- min
- max

In [102]:
df.describe().show()

+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|summary|                 x|               age|  workclass|            fnlwgt|   education|   educational-num|marital-status|      occupation|relationship|              race|gender|      capital-gain|     capital-loss|    hours-per-week|native-country|income|
+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+
|  count|             48842|             48842|      48842|             48842|       48842|             48842|         48842|           48842|       48842|             48842| 48842|             48842|            48842|             48842|         48842| 48842|
|   mean|           24421.5| 38.64358543876172|       null|189664.13459727284|        null|10.078088530363212|          null|            null|        null|              null|  null|1079.0676262233324|87.50231358257237|40.422382375824085|          null|  null|
| stddev|14099.615260708357|13.710509934443525|       null|105604.02542315757|        null| 2.570972755592259|          null|            null|        null|              null|  null| 7452.019057655418| 403.004552124359|12.391444024252312|          null|  null|
|    min|                 1|                17|          ?|             12285|        10th|                 1|      Divorced|               ?|     Husband|Amer-Indian-Eskimo|Female|                 0|                0|                 1|             ?| <=50K|
|    max|             48842|                90|Without-pay|           1490400|Some-college|                16|       Widowed|Transport-moving|        Wife|             White|  Male|             99999|             4356|                99|    Yugoslavia|  >50K|
+-------+------------------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+--------------+------+

SQLì—ì„œ ``` SELECT * FROM [TABLE] LIMIT 5``` ê°™ì€ ëŠë‚Œ

> ğŸ¤” truncateì˜ True/False ì°¨ì´ëŠ” ?

In [82]:
df.show(5, truncate = True)

+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|  x|age|workclass|fnlwgt|   education|educational-num|    marital-status|       occupation|relationship| race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|  1| 25|  Private|226802|        11th|              7|     Never-married|Machine-op-inspct|   Own-child|Black|  Male|           0|           0|            40| United-States| <=50K|
|  2| 38|  Private| 89814|     HS-grad|              9|Married-civ-spouse|  Farming-fishing|     Husband|White|  Male|           0|           0|            50| United-States| <=50K|
|  3| 28|Local-gov|336951|  Assoc-acdm|             12|Married-civ-spouse|  Protective-serv|     Husband|White|  Male|           0|           0|            40| United-States|  >50K|
|  4| 44|  Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|     Husband|Black|  Male|        7688|           0|            40| United-States|  >50K|
|  5| 18|        ?|103497|Some-college|             10|     Never-married|                ?|   Own-child|White|Female|           0|           0|            30| United-States| <=50K|
+---+---+---------+------+------------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

ë³€ìˆ˜ì˜ í¬ë§·ì„ ë³€ê²½í•´ì•¼ í•  ê²½ìš° ì•„ë˜ì™€ ê°™ì´ ìˆ˜ì •í•  ìˆ˜ ìˆë‹¤.

In [103]:
from pyspark.sql.types import *

# incomeì˜ í¬ë§·ì„ stringì—ì„œ floatë¡œ ë³€ê²½í•˜ì
df_chnage_type = df.withColumn('income', df['income'].cast(DoubleType()))

df_chnage_type.printSchema()

root
 |-- x: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: double (nullable = true)

PySparkì—ì„œ ì‚¬ìš©í•˜ëŠ” íƒ€ì…ì€ ì•„ë˜ì™€ ê°™ë‹¤ [ì°¸ê³ ](https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-crawler-pyspark-extensions-types.html)

- BinaryType â€“ Binary data.
- BooleanType â€“ Boolean values.
- ByteType â€“ A byte value.
- DateType â€“ A datetime value.
- DoubleType â€“ A floating-point double value.
- IntegerType â€“ An integer value.
- LongType â€“ A long integer value.
- NullType â€“ A null value.
- ShortType â€“ A short integer value.
- StringType â€“ A text string.
- TimestampType â€“ A timestamp value (typically in seconds from 1/1/1970).
- UnknownType â€“ A value of unidentified type.

```SELECT COLUMN1, COLUMN2 FROM [TABLE] LIMIT 5```

In [99]:
df.select('age','fnlwgt').show(5)

+---+------+
|age|fnlwgt|
+---+------+
| 25|226802|
| 38| 89814|
| 28|336951|
| 44|160323|
| 18|103497|
+---+------+
only showing top 5 rows

``` SELECT education, count(*) as count FROM [TABLE] GROUP BY education ORDER BY count DESC ```

In [100]:
df.groupBy("education").count().sort("count",ascending=True).show()

+------------+-----+
|   education|count|
+------------+-----+
|   Preschool|   83|
|     1st-4th|  247|
|     5th-6th|  509|
|   Doctorate|  594|
|        12th|  657|
|         9th|  756|
| Prof-school|  834|
|     7th-8th|  955|
|        10th| 1389|
|  Assoc-acdm| 1601|
|        11th| 1812|
|   Assoc-voc| 2061|
|     Masters| 2657|
|   Bachelors| 8025|
|Some-college|10878|
|     HS-grad|15784|
+------------+-----+